---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: us-predictor-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: us-predictor
        image: quay.io/christal09/us-predictor:0.7
        ports:
        - containerPort: 5006
